__pycache__/
.ipynb_checkpoints/
.directory
*/.directory
*.swp
Thumbs.db
*/Thumbs.db
MiscUnshared/
MiscUnshared/*
*private.ipynb
test.ipynb
*-dev.ipynb
Feedback/
Feedback/*
Conv1D_functions.csv
md*.csv
*.gif
MD-flavie.ipynb
moleculardynamics-dijana.ipynb
Harmonic_Oscillator-Dijana.ipynb
dev/
dev/*
